[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-image = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
tox = "*"
pytest = "*"
isort = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
